<span style="color: red;">**ENTORNO DE JUPYTER**</span>


*Para crear un entorno virtual:*

1. Abrí la terminal
2. Entré al directorio donde queria crear mi entorno - use cd shift para buscar
3. Ejecuté el codigo python3 -m venv entorno_may_31 (poniendo a gusto el nombre del entorno que queria, donde elegí la fecha de hoy)
4. Busqué mi entorno con cd, en mac-IOS no hace falta activar explicitamente el entorno, basta con buscarlo.

In [1]:
#SE IMPORTAN LAS LIBRERIAS

import pandas as pd
import numpy as np
import matplotlib as plt


# Para leer el csv se usa el pd.read_scv

df = pd.read_csv("loan_dataset - loan_dataset.csv")

In [2]:
#Como definimos que el dataset se iba a llamar df, usamos df.head(), si queremos 
#mostrar mas o menos de las filas escribimos el numero en los ().

df.head()

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area
0,Male,Yes,0,Graduate,No,572000,0,11000000,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,307600,150000,12600000,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,500000,180000,20800000,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,234000,254600,10000000,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,327600,0,7800000,360.0,1.0,Urban

Mostrar la información estadística básica (una línea de código)

- Utilicé el .describe para describir datos principales del dataframe
- como dijeron informacion basica,busqué para sacar los minimos, maximos, mediana y media.

El .loc[] en Pandas se utiliza para acceder y seleccionar datos en un dataframe utilizando etiquetas de índice o nombres de columnas.

In [3]:
print(df.describe().loc[['min', 'max', 'mean', '50%']])

      Applicant_Income  Coapplicant_Income   Loan_Amount        Term  \
min       0.000000e+00        0.000000e+00  0.000000e+00    6.000000
max       7.252900e+06        2.400000e+06  5.500000e+07  480.000000
mean      4.805599e+05        1.569578e+05  1.342779e+07  342.537396
50%       3.786000e+05        1.025000e+05  1.250000e+07  360.000000

      Credit_History
min         0.000000
max         1.000000
mean        0.825444
50%         1.000000